<manifest package="com.faststile.cs">
<uses-permission android:name="android.permission.INTERNET"/>
<application
 android:usesCleartextTraffic="false"
 android:theme="@style/Theme.App">
 <activity android:name=".MainActivity">
  <intent-filter>
   <action android:name="android.intent.action.MAIN"/>
   <category android:name="android.intent.category.LAUNCHER"/>
  </intent-filter>
 </activity>
</application>
</manifest>