:root{
  --bg:#0f172a;
  --text:#f8fafc;
  --card:#1e293b;
}
.light{--bg:#f8fafc;--text:#020617;--card:#e5e7eb}
body{margin:0;background:var(--bg);color:var(--text);font-family:Arial}
header{display:flex;justify-content:space-between;padding:1rem;background:#020617}
.cards{display:grid;grid-template-columns:repeat(3,1fr);gap:10px;padding:1rem}
.card{background:var(--card);padding:1rem;border-radius:10px;text-align:center}
.form,.acoes{display:flex;gap:10px;padding:1rem}
input,select,button{padding:10px;border-radius:6px;border:none}
button{background:#2563eb;color:#fff}
ul{list-style:none;padding:0 1rem}
li{border-bottom:1px solid #334155;padding:4px}